<style>
  body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(184, 243, 245);  }
   header{
   background-color: rgb(234, 253, 126);
 }



 </style>